@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC);

body {
  background-color: #4b2e83;
  margin: 50px 50px;
  text-align: center;
  padding-top: 80px;
}

a {
  color: black;
  font-size: 20pt;
}

h1 {
  font-family:  "Noto Serif SC";
}

form {
  background-color: rgba(145, 123, 76, 0.7);
  width: 250px;
}

header {
  top: 0px;
  border-bottom: 5px solid black;
}

hr {
  visibility: hidden;
}

article > section {
  border-style: ridge;
  border-color: black;
  margin: 10px 10px;
  margin-bottom: 10px;
}

footer {
  bottom: 0px;
  padding: 10px;
  background-color: black;
  color: white;
}

header, footer {
  position: fixed;
  right: 0%;
  left: 0%;
}

ul, #selection, #list {
  background-color: #b7a57a;
}

#inception, header {
  background-color: #e8e3d3;
}

form, #separate {
  margin-top: 0px;
  margin-bottom: 0px;
}

#separate, #selection, form {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#husky {
  width: 2%;
  height: 2%;
}

#separate {
  background-color: #85754d;
}

#inception {
  border-style: groove;
  margin-left: 25%;
  margin-right: 25%;
}

#selection {
  border-style: dashed;
  float: right;
}

#textbox {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  outline: none;
}

#todos {
  text-align: left;
}

#list {
  margin-left: 1000px;
  margin-right: 1000px;
  border-style: double;
}

#tabs {
  border-style: solid;
  padding: 10px;
  float: left;
}

#husky {
  height: 55px;
  width: 55px;
}

#tabs, #tabs > li {
  list-style: none;
}

p > a, li > a {
  font-size: 12pt;
}

.taboptions {
  font-size: 20pt;
}
